// _applyProcedure
// ==============

// Background
.procedureBG {
  @include backOpacity($black, 0.4);
  // Background image
  padding: 2rem 0;
  background-image: url("../../public/images/apply375@2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @media (min-width: 375px) {
    background-image: url("../../public/images/apply768@2.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("../../public/images/apply1054@2.jpg");
  }
  @media (min-width: 1054px) {
    background-image: url("../../public/images/apply1920@2.jpg");
    // padding: 5rem 0;
  }
}

// Procedure
.applyProcedure {
  font-size: 0.6rem;
  background-color: $white;
  color: $darkGrey;
  padding: 0 1rem;
  margin: 2rem auto;
  section {
    margin: 1rem 0;
    &:nth-of-type(2) {
      h2 + p {
        font-weight: 600;
      }
    }
  }
  // Headers
  h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    color: $black;
    padding-bottom: 0.5rem;
  }
  // List
  li {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 1.2rem;
  }
  // Send email link
  a {
    color: $lightGrey;
    text-decoration: underline;
  }
  // Continue read and read less
  #readMore, #readLess {
    font-size: 0.5;
    color: $lightGrey;
    padding-bottom: 1rem;
  }
  // Extra contact
  .toggletApplyInformation {
    display: none;
  }
  @media (min-width: 768px) {
    overflow: hidden;
    @include clearfix;
    // Sections start float left
    section {
      width: 45%;
      float: left;
      min-width: 8rem;
      &:nth-of-type(even) {
        padding-left: 10%;
      }
    }
    // Continue read and read less
    p {
      float: none;
      clear: both;
    }
  }
}
