// _applyForm.scss
// =================

.applyForm {
  // General Form style
  margin: 4rem auto;
  position: relative;
  padding-bottom: 2rem;
  @include clearfix;
  // Headers
  h2{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 2rem 0;
    span {
      display: block;
      @media (min-width: 768px) {
        display: inline;
      }
    }
  }
  h3 {
    font-size: 0.8rem;
  }
  // Form
  form {
    font-size: 0.7rem;
    line-height: 2rem;
    input, textarea {
      font-family: $bodyFont;
      color: $blue;
    }
    .valid {
      background-image: url("../../public/images/check.png");
      background-repeat: no-repeat;
      background-size: 0.8rem 0.8rem;
      background-position: right 50%;
    }
    .notValid {
      color: $red;
      box-shadow: 0 0 2px lighten($red, 0%);
    }
    ::placeholder {
      color: $blue;
      opacity: 0.8;
      padding: 0 0.5rem;
    }
    label {
      float: none;
      clear: both;
      display: block;
      width: 100%;

      &[for="gender"] span {
        &:first-of-type {
          display: block;
        }
        margin: 0 0.5rem;
      }
    }

    // Inputs style
    input {
      width: 48%;
      height: 2.5rem;
      float: left;
      margin: 0.5rem 0;
      +span.error {
        font-size: 0.7em;
        float: none;
        clear: both;
        display: block;
      }
      @include clearfix;
      &[name="lastname"], &[name="phoneNumber"], &[name="houseNumber"], &[name="zipcode"], {
        float: right;
      }
      &[name="birthday"] {
        width: 70%;
        float: right;
        box-shadow: none;
        &.notValid {
          box-shadow: 0 0 2px lighten($red, 0%);
        }
      }
      &[name="country"] {
        width: 100%;
      }
      // Radio buttons gender
      &[type="radio"] {
        float: none;
        width: 0.8rem;
        height: 0.8rem;
        padding-right : 1.5rem;
        clear: both;
      }
      // Checkbox send a copy
      &[type="checkbox"] {
        float: none;
        width: 0.8rem;
        height: 2rem;
        margin: 1rem 0.5rem 0 0;
        vertical-align: bottom;
      }
      // Submit button
      &[type="submit"] {
        text-transform: uppercase;
        float: right;
        width: 60%;
        padding: 0.5rem 1rem;
        color: $white;
        background-color: $blue;
        border: none;
        cursor: pointer;
      }
    }
    // Textarea
    textarea[name="motivation"] {
      display: block;
      width: 100%;
      font-size: 0.7rem;
      margin: 1rem auto;
    }
  }
  // Link back to job Description
  a {
    font-size: 0.6rem;
    position: absolute;
    color: $lightGrey;
    left: 0;
    bottom: 0;
  }
  // Gender
  .gender {
    float: none;
    clear: both;
    margin-bottom: 0.5rem;
    span {
      margin: 0 0.2rem;
      &:first-of-type {
        display: block;
      }
    }
  }

  // Upload attachments
  .attachments {
    li {
      position: relative;
      padding-bottom: 0.5rem;
      margin: 0 0 1rem 0;
      span {
        font-weight: 600;
        color: $black;
      }
      .button {
        cursor: pointer;
        display: inline-block;
        font-family: $bodyFont;
        font-size: 0.6rem;
        color: $white;
        background-color: $blue;
        text-align: center;
        text-transform: uppercase;
        border: none;
        padding: 0.2rem 0.5rem;
        width: 35%;
        position: absolute;
        margin-left: 0.5rem;
        &.dropbox {
          right: 0;
        }
        &.upload {
          right: 37%;
        }
        input {
          display: none;
        }
        &:before{
          content: "";
          display: inline-block;
          background-repeat: no-repeat;
          background-size: cover;
          margin-right: 0.7rem;
          width: 0.7rem;
          height: 0.7rem;
        }
      }
      .dropbox:before {
        background-image: url("../../public/images/dropboxIcon.png");
      }
      .upload:before {
        background-image: url("../../public/images/uploadIcon.png");
      }
    }
  }
  // Errors area
  .errors, .phpErrors {
    float: none;
    clear: both;
    color: $red;
    border: 1px solid $red;
    padding: 0.5rem;
  }
  // Submit area
  .submit label {
    color: $darkGrey;
    font-size: 0.6rem;
    display: inline-block;
    width: 40%;
    height: 2rem;
  }

  // Minumum width 768 pixel
  @media (min-width: 768px) {
    padding-bottom: 0;
    form {
      // Sections start float
      .motivation, .attachments {
        width: 48%;
        min-height: 3rem;
        box-sizing: border-box;
        float: left;
        @include clearfix;
      }
      .attachments {
        float: right;
        h3 {
          padding-bottom: 1rem;
          span{
            font-size: 0.6rem;
          }
        }
      }
      // Submit becomes half width
      .submit {
        clear: both;
        width: 100%;
        div {
          width: 50%;
          float: right;
        }
        label {
          font-size: 0.7rem;
        }
        input {
          font-size: 0.7rem;
          height: 2rem;
          &[type="submit"] {
            width: 60%;
          }
        }
      }
    }
  }
}
