// _base
// ========

// General style
html {
  font-family: $bodyFont;
  font-size: 1rem;
  background-color: $beige;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headFont;
  font-weight: 700;
}

h1, h2 {
  text-transform: uppercase;
}

.container {
  display: block;
  margin: 0 auto;
  width: 80%;
  min-width: 200px;
  max-width: 600px;
}

#backToTop {
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5rem;
  padding: 0.5rem;
  background-color: $white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
}
