// _datePicker.scss
// =================

#ui-datepicker-div{
  display: none;
  background-color: $lightGrey;
  font-size: 0.8rem;
  width: 250px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  .ui-datepicker-header {
    width: 100%;
    background-color: $black;
    font-weight: bold;
  	position: relative;
  	padding: 0.2rem 0;
    line-height: 2rem;
  }
  .ui-widget-overlay {
  	position: fixed;
  	top: 0;
  	left: -10rem;
  	width: 100%;
  	height: 100%;
  }

  // Header style
  .ui-datepicker-title {
    text-align: center;
    // drop down month and year list
    .ui-datepicker-month, .ui-datepicker-year {
      background-color: $white;
      width: 4rem;
    }
    .ui-datepicker-month {
      margin-right: 0.5rem;
    }
  }

  // Previous and next month
  .ui-datepicker-prev,
  .ui-datepicker-next {
    color: $white;
    display: inline-block;
    text-align: center;
  	position: absolute;
  	top: 0.4rem;
  	width: 1.8rem;
  	height: 1.8rem;
    cursor: pointer;
    font-size: 0;
    &:before {
      font-size: 0.7rem;
      display: inline-block;
      @include fa-icon;
      @extend .fas;
    }
  }
  .ui-datepicker-prev-hover,
  .ui-datepicker-next-hover {
  	top: 1px;
  }
  .ui-datepicker-prev {
  	left: 1rem;
    &:before {
      content: fa-content($fa-var-arrow-alt-circle-left);
    }
  }
  .ui-datepicker-next {
  	right: 1rem;
    &:before {
      content: fa-content($fa-var-arrow-alt-circle-right);
    }
  }

  // Calender
  table {
  	width: 100%;
  	font-size: 0.9em;
  	border-collapse: collapse;
  	margin: 0 0 0.4em;
    th {
      background-color: $black;
      color: $white;
    	padding: 0.7em 0.3em;
    	text-align: center;
    	font-weight: bold;
    	border: 0;
    }
    tr {
      // Checkerboard style
      // &:nth-of-type(even) {
      //   td {
      //     &:nth-of-type(odd) {
      //       @include backOpacity($white, 0.7)
      //     }
      //   }
      // }
      // &:nth-of-type(odd) {
      //   td {
      //     &:nth-of-type(even) {
      //       @include backOpacity($white, 0.7)
      //     }
      //   }
      // }
      td {
        box-sizing: border-box;
      	border: 0;
        text-align: center;
        line-height: 1.5rem;
        width: 10%;
        span, a {
          display: block;
        	text-decoration: none;
        }
      }
    }
  }
  // Unselected dates from previous and next month
  .ui-datepicker-unselectable .ui-state-default {
    color: $beige;
  }
}
