// _footer
// ==============

.footer {
  font-size: 0.5rem;
  // Horizontal line
  color: $lightGrey;
  border-top: 1px solid lighten($lightGrey, 15%);
  margin-top: 2rem;
  // Headers
  h4 {
    font-family: $bodyFont;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: $darkGrey;
    line-height: 2rem;
  }
  // Sections
  section {
    display: inline-block;
    width: 48%;
    min-height: 8rem;
    box-sizing: border-box;
    margin: 0.5%;
    float: left;
    @media (min-width: 768px) {
      width: 24%;
    }
  }
  // Two columns of social media links
  .SocialMenu {
    li {
      width: 48%;
      display: inline-block;
    }
  }
  // links
  a {
    color: $lightGrey;
    &:before {
      @include fa-icon;
      @extend .fab;
      color: $darkGrey;
      margin-right: 0.3rem;
      border: 1px solid $darkGrey;
      border-radius: 0.6rem;
      padding: 0.1rem;
      width: 0.6rem;
      height: 0.6rem;
      font-size: 0.5rem;
      text-align: center;
      vertical-align: bottom;
    }
    &[href="newstletter"]:before{
      @extend .fas;
      content: fa-content($fa-var-envelope);
    }
    &[href="facebook"]:before{
      content: fa-content($fa-var-facebook-f);
    }
    &[href="instagram"]:before{
      content: fa-content($fa-var-instagram);
    }
    &[href="pintrest"]:before{
      content: fa-content($fa-var-pinterest-p);
    }
    &[href="twitter"]:before{
      content: fa-content($fa-var-twitter);
    }
    &[href="youtube"]:before{
      content: fa-content($fa-var-youtube);
    }
    &[href="tumblr"]:before{
      content: fa-content($fa-var-tumblr);
    }
    &[href="googleplus"]:before{
      content: fa-content($fa-var-google-plus-g);
    }
    &[href="linkedin"]:before{
      content: fa-content($fa-var-linkedin);
    }
  }
}
