// _hero.scss
// ==============

.hero {
  // General
  text-align: center;
  margin-top: 5rem;
  // Background image
  background-image: url("../../public/images/office375@2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  padding: 2rem 0;
  height: 250px;
  @media (min-width: 375px) {
    background-image: url("../../public/images/office768@2.jpg");
    margin-top: 7rem;
  }
  @media (min-width: 768px) {
    background-image: url("../../public/images/office1054@2.jpg");
    margin-top: 4rem;
  }
  @media (min-width: 1054px) {
    background-image: url("../../public/images/office1920@2.jpg");
    height: 400px;
    padding: 5rem 0;
  }
  // Background for text
  div {
    @include backOpacity($black, 0.4);
    margin: 2.5rem auto;
    color: $white;
  }
  // Headers
  h1 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding-top: 1.5rem;
    @media (min-width: 450px) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }
  h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    padding-bottom: 0.8rem;
    @media (min-width: 450px) {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }
}
