// _thankYou.scss
// =================

.thankYou {
  // General Form style
  margin: 9rem auto 2rem auto;
  position: relative;
  padding-bottom: 2rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.8rem;
  h2 {
    font-size: 2rem;
  }
  .fa-grin-beam {
    margin: 1.5rem 0;
    color: $blue;
    font-size: 5rem;
  }
  .message {
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid $darkGrey;
  }
  .copy {
    font-weight: 600;
  }
  @media (min-width: 768px) {
    margin: 6rem auto 2rem auto;
  }
}

// Apply form output
.applyFormOutput {
  width: 100%;
  border: 1px solid $lightGrey;
  tr {
    border: 1px solid $lightGrey;
  }
  th {
    font-weight: 600;
    padding: 0.5rem;
    &:nth-of-type(2) {
      width: 60%;
    }
  }
  td {
    padding: 0.5rem;
  }
}
