// _header
// ========

// Navigation
.navbar {
  background-color: $black;
  font-size: 0.8rem;
  padding: 0.5rem;
  min-height: 2rem;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
  @include clearfix;
  .navContainer {
    position: relative;
    @media (min-width: 768px) {
      max-width: 768px;
      margin: 0 auto;
    }
  }
  // Navigation links
  a {
    color: $white;
    text-transform: uppercase;
    &:hover, &:focus {
      color: $darkGrey;
    }
    &.active {
      text-decoration: underline;
    }
  }

  // Menu bar
  .fa-bars {
    padding: 0.5rem;
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 2rem;
    color: $white;
    text-shadow: 2px 2px 5px $darkGrey;
    @media (min-width: 375px) {
      display: none;
    }
  }

  // Logo
  #logo {
    display: inline-block;
    font-size: 1.5rem;
    margin: 1rem 1rem 1rem 3rem;
    a:hover, a:focus {
      color: $white;
    }
    @media (min-width: 375px) {
      margin-left: 1rem;
    }
    @media (min-width: 768px) {
      float: left;
    }
  }

  // Slide Navigation small mobile
  #slideNavigation {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -5vw;
    width: 0;
    height: 100vh;
    background-color: $black;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
    .fa-times {
      font-size: 2rem;
      color: $white;
      position: absolute;
      top: 1rem;
      right: 6vw;
    }
    ul {
      margin-top: 40%;
    }
    li {
      width: 100%;
      text-align: center;
      margin: 1rem auto;
    }
  }

  // Full navigation other devices
  #fullNavigation {
    display: block;
    width: 100%;
    margin: 0 auto;
    clear: both;
    float: none;
    ul {
      display: block;
      text-align: center;
      li {
        font-size: 0.6rem;
        display: inline-block;
        margin: 1rem 0.5rem;
      }
    }
    @media (min-width: 375px) {
      width: 100%;
      ul li {
        font-size: 0.7rem;
      }
    }
    @media (min-width: 768px) {
      width: 50%;
      clear: none;
      float: left;
    }
  }

  // Search field
  #search {
    display: block;
    width: 95%;
    margin: 0 auto;
    position: relative;
    // max-width: 200px;
    input {
      font-family: $bodyFont;
      background-color: $white;
      text-transform: uppercase;
      display: block;
      position: relative;
      width: 100%;
      height: 1.8rem;
    }
    &:after {
      @include fa-icon;
      @extend .fas;
      position: absolute;
      top: 0.4rem;
      right: 0.2rem;
      color: $lightGrey;
      font-size: 1rem;
      content: fa-content($fa-var-search);
    }
    ::placeholder {
      font-size: 0.7rem;
    }
    @media (min-width: 375px) {
      display: inline-block;
      width: 47%;
      float: right;
      margin: 1rem 4rem 0 0;
    }
    @media (min-width: 768px) {
      width: 25%;
      margin-top: 1rem;
      margin-right: 3rem;
    }
  }

  // Shopping cart
  #suitcase{
    display: inline-block;

    color: $white;
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    sub {
      font-size: 0.7rem;
      position: absolute;
      top: 0;
      right: -0.7rem;
    }
    p {
      display: block;
      opacity : 0;
      font-size: 0.8rem;
      width: 8rem;
      position: absolute;
      top: 2rem;
      right: -0.5rem;
      // bottom: 0;
      // color: yellow;
      background-color: $lightBlue;
    }
    .arrowUp {
      display: hide;
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.5rem solid $lightBlue;
      position: absolute;
      top: -0.5rem;
      right: 0.6rem;
    }
  }
}
